/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@font-face {
	font-family: Rubik;
	src: url(/fonts/Rubik/Rubik-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Rubik;
	src: url(/fonts/Rubik/Rubik-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: Rubik;
	src: url(/fonts/Rubik/Rubik-Bold.ttf);
	font-style: normal;
	font-weight: 600;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-body);
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-primary);
	background-color: var(--bg-4);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	background-color: var(--text-secondary);
}

.work{
	margin: 0 auto;
	width: 100%;
	max-width: 1160px;
}

.emptyFlex{
	flex-grow: 1;
}